{% load staticfiles %}
<html>
    <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="AnyCrawl 在线可配置化爬虫 ">
		<meta name="author" content="">

		<title>{% block title %}{% endblock %}</title>
		<!-- Bootstrap Core CSS -->
		<link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet">

		<!-- Custom CSS -->
		<link href="{%static 'css/modern-business.css' %}" rel="stylesheet">
		<link href="{%static 'css/multi-select.css' %}" rel="stylesheet">
		<link href="{%static 'css/scrapy-helper.css' %}" rel="stylesheet">
		<!-- Custom Fonts -->
		<link href="{%static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

    <body>

		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/project">AnyCrawl - 可配置化爬虫</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/project/create" >新建项目</a>
						</li>
						<li>
							<a target="_blank" href="https://zhuanlan.zhihu.com/p/31659456" >帮助文档</a>
						</li>
						<li>
							{% if user.is_authenticated %}
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" >{{user.username}}<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									<a href="/accounts/logout/">登出</a>
								</li>
							</ul>
							{% else %}
							<a href="#" data-toggle="modal" data-target="#myModal" >登录</a>
							{% endif %}
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>

		{% block content %}

		{% endblock %}

		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        	{% include "login.html" %}
    	</div>
		<!-- Bootstrap core JavaScript -->
		<script src="{% static 'js/jquery.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/multi-select.js' %}"></script>
		<script src="{% static 'js/echarts.simple.min.js' %}"></script>
		<script>

			// using jQuery
			function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie !== '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = jQuery.trim(cookies[i]);
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) === (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}
			var csrftoken = getCookie('csrftoken');

			function csrfSafeMethod(method) {
				// these HTTP methods do not require CSRF protection
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
					if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					}
				}
			});


			$(function() {

				$('#login-form-link').click(function(e) {
					$("#login-form").delay(100).fadeIn(100);
					$("#register-form").fadeOut(100);
					$('#register-form-link').removeClass('active');
					$(this).addClass('active');
					e.preventDefault();
				});
				$('#register-form-link').click(function(e) {
					$("#register-form").delay(100).fadeIn(100);
					$("#login-form").fadeOut(100);
					$('#login-form-link').removeClass('active');
					$(this).addClass('active');
					e.preventDefault();
				});

			});
		</script>
		{% block script %}
		{% endblock %}
	</body>
</html>
